/* Allgemeines Styling */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f7f7f7;
    padding-top: 30px; /* Abstand von der oberen Bildschirmkante */
}

/* Überschrift */
h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Container-Styling */
#todo-app {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* width: 350px; */
    text-align: left;
}

ul {
    list-style-type: none;
  }